.wrap {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-image: url("../imgs/bg.png");
    background-size: 100% auto;
}

/*头部*/
.header {
    width: 100%;
    height: 70px;
    background-color: #FFFFFF;
    float: left;
}

.header_in {
    width: 1000px;
    height: 70px;
    background-image: url("../imgs/logo.png");
    background-size: 95px 50px;
    background-repeat: no-repeat;
    background-position: left center;
    margin: 0 auto;
}

/*主体*/
.main {
    width: 100%;
    height: auto;
    float: left;
}

.main_in {
    width: 1000px;
    height: 1000px;
    padding-top: 20px;
    margin: 0 auto;
}
/*左侧下拉*/
.treebox {
    width: 198px;
    height: auto;
    background-color: #FEFEFE;
    float: left;
}

.menu {
    border: 1px solid #EE5757;
    overflow: hidden;
}

/*第一层*/
.menu li.level1 > a {
    display: block;
    height: 45px;
    line-height: 45px;
    color: #E7355C;
    padding-left: 50px;
    font-size: 16px;
    position: relative;
    transition: all .5s ease 0s;
    background-color: #FFFFFF;
    border-top: 1px solid #fc8c84;
}

.menu li.level1 a:hover {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #E7355C;
}

.menu li.level1 a.current {
    background: #E7355C;
    color: #FFFFFF;
}

/*小箭头*/
.level1 span {
    width: 20px;
    height: 10px;
    background-image: url("../imgs/arrow.png");
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
}

.level1 span.down {
    background-position: 0 -10px;
}

/*第二层*/
.menu li ul {
    overflow: hidden;
}

.menu li ul.level2 {
    display: none;
    background: #FFFFFF;
    color: #323232;
}

.menu li ul.level2 li{
    height: 45px;
    line-height: 45px;
    color: #323232;
    text-indent: 50px;
    font-size: 14px;
    transition: all 1s ease 0s;
    cursor: pointer;
}
.menu li ul.level2 li:hover{
    text-decoration: underline;
}
.menu li ul.level2 li.line{
    text-decoration: underline;
}

/*右侧面板*/
.main_right{
    width: 780px;
    height: 100%;
    position: relative;
    float: right;
    overflow: hidden;
}
.main_right>div{
    width: 100%;
    height: auto;
    background-color: #FAF9F9;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
}
.main_right>div.on{
    display: block;
}

/*首页start*/
.tit{
    width: 100%;
    height: auto;
    font-size: 18px;
    color: #FFFFFF;
    line-height: 50px;
    text-indent: 30px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: #4C4C4C;
    float: left;
}

.con{
    width: 100%;
    height: 200px;
    margin-bottom: 15px;
    background-color: #FFFFFF;
    color: #2C2C2C;
    float: left;
    display: none;
}
.tit.hcon{
    background-color: #E7355C;
}